.app {
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
  background-repeat: no-repeat;
  background-image: url("../assets/images/blob_red.svg");
  background-color: black;
  padding-bottom: 200px;
}

.container {
  max-width: 1130px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.projects {
  margin-top: 50px;
  /* gap: 69px; */
  row-gap: 69px;
  column-gap: 69px;
  /* justify-content: center; */
  /* justify-content: space-between; */
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
}

.projectsTitle {
  color: #fff;
  margin-top: 150px;
  font-size: 44px;
  font-weight: 700;
}

@media (max-width: 1129px) {
  .projectsTitle {
    text-align: center;
  }

  .container {
    max-width: 769px;
  }
}

@media(max-width: 736px) {
  .projects {
    justify-content: center;
  }
}

@media(max-width: 437px)  {
.projects {
  margin-top: 30px;
}

  .projectsTitle {
    margin-top: 120px;
  }
}