@font-face {
  font-family: "Heebo";
  src: url("../assets/fonts/Heebo-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Heebo";
  src: url("../assets/fonts/Heebo-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Heebo";
  src: url("../assets/fonts/Heebo-Bold.ttf") format("truetype");
  font-weight: 700;
}

html {
  font-family: "Heebo", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
