.hero {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}

.content {
  color: #fff;
}

.title {
  max-width: 500px;
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
}

.description {
  margin-top: 40px;
  max-width: 500px;
}

.resumeBtn {
  margin-top: 40px;
  padding: 15px 20px 15px 20px;
  color: #fff;
  font-size: 20px;
  border: none;
  background-color: #ff6464;
}

.resumeBtn:hover {
  cursor: pointer;
}

.photoHolder {
  position: relative;
}

.profilePhoto {
  z-index: 1;
  width: 350px;
  position: relative;
}

.profilePhotoDecor {
  position: absolute;
  width: 350px;
  top: 12px;
  right: 12px;
}

@media (max-width: 800px) {
  .hero {
    flex-direction: column;
    align-items: center;
  }

  .content {
    text-align: center;
    order: 2;
  }

  .photoHolder {
    margin-bottom: 35px;
    order: 1;
  }
}
