.card {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 324px;
}

.links {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.liveLink,
.codeLink {
  cursor: pointer;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 6px;
  padding: 2px 7px 2px 7px;
}

.liveLink:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
}
.codeLink:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
}

.projectImgHolder {
  position: relative;
}

.projectImg {
  width: 100%;
  height: 300px;
  border-radius: 8px;
}

.projectImgHover {
  cursor: pointer;
  opacity: 0.6;
  width: 100%;
  height: 300px;
  border-radius: 8px;
}

.textContent {
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.title {
  font-size: 26px;
  font-weight: 700;
}

.techList {
  margin-top: 15px;
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.techListItem {
  border: 1px solid white;
  border-radius: 6px;
  padding: 2px 7px 2px 7px;
}

.description {
  font-size: 14px;
  font-weight: 400;
}
